@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, you bespectacled developers!</h1>

Tired of writing helpful commit messages? Well, you've come to the right place. Head on over to the Dad Joke section to get a dad joke to use as a commit message.
